<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjpCpvUEs2gkGe6-Xxsfk50UVsBLiz__U</string>
	<key>GCM_SENDER_ID</key>
	<string>980410772508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>info.BudgetManage</string>
	<key>PROJECT_ID</key>
	<string>budgetmanage-3c4d1</string>
	<key>STORAGE_BUCKET</key>
	<string>budgetmanage-3c4d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980410772508:ios:d8761062568d312c7143d9</string>
</dict>
</plist>